[viewBag]
==
<section id="facts" class="block">
    <div class="bg-secondary text-tertiary spacer p-top-xl p-bottom-xl overflow-hidden">
        <div class="wrapper">
            <div class="title">
                <h2>Fakty i Dane o Nuga Best</h2>
            </div>

            <div class="row gutter-width-md facts-items">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="facts-item">
                        <div class="facts-item-content">
                            <div class="facts-item-left">
                                <h3 class="facts-item-title">2000</h3>

                                <p class="facts-item-text-1">Odwiedzający salon codziennie na teraz</p>
                            </div>

                            <div class="facts-item-right">
                                <h3 class="facts-item-title">23</h3>

                                <p class="facts-item-text-1">Salonów w Polsce</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="facts-item">
                        <div class="facts-item-content">
                            <div class="facts-item-left">
                                <h3 class="facts-item-title">20</h3>

                                <p class="facts-item-text-1">Lat na rynku na świecie</p>
                            </div>

                            <div class="facts-item-right">
                                <h3 class="facts-item-title">115</h3>

                                <p class="facts-item-text-1">Krajów do których eksportowane Nuga Best</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="facts-item">
                        <div class="facts-item-content">
                            <div class="facts-item-left">
                                <h3 class="facts-item-title">15</h3>

                                <p class="facts-item-text-1">Lat w Polsce</p>
                            </div>

                            <div class="facts-item-right">
                                <h3 class="facts-item-title">3500</h3>

                                <p class="facts-item-text-1">Salonów na całym świecie</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- #facts -->