[viewBag]

[staticMenu]
code = "main-menu"
==
<section id="saloon" class="saloon-section block spacer p-top-xl">
    <div class="wrapper">
        <div class="saloon-row row gutter-width-md with-pb-md">
            <div class="col-md-12 col-sm-12">
                <div class="saloon-title">
                    <a href="http://nuga.ipapus.com/salony" class="btn btn-primary">ZNAJDŹ SALON</a>
                    <a href="http://nuga.ipapus.com/salony" class="btn btn-primary">ZADZWOŃ</a>
                </div>
            </div>
        </div>
        <div class="row gutter-width-md with-pb-md">
            <div class="col-md-6 col-sm-12" style="font-size: 18px" >
                <div class="description">
                    <div class="description-container">
                        <div class="description-row">
                            <ul>
                                <li><a href="/salony/nuga-best-bielsko-biala">Bielsko-Biała</a></li>
                                <li>ul.Ks.S.Stojałowskiego, 43-346</li>
                                <li><a href="tel:+48786995171">+48 786 995 171</a></li>
                            </ul>
                        </div>
                        <div class="description-row">
                            <ul>
                                <li><a href="/salony/nuga-best-bydgoszcz">Bydgoszcz</a></li>
                                <li>ul. Gdańska 60, 85-021</li>
                                <li><a href="tel:+48576573660">+48 576 573 660</a></li>
                            </ul>
                        </div>
                        <div class="description-row">
                            <ul>
                                <li><a href="/salony/nuga-best-gdansk-grunwaldzka">Gdańsk Grunwaldzka</a></li>
                                <li>al. Grunwaldzka 99, 80-244</li>
                                <li><a href="tel:+48533111896">+48 533 111 896</a></li>
                            </ul>
                        </div>
                        <div class="description-row">
                            <ul>
                                <li><a href="/salony/nuga-best-gdansk-rajska">Gdańsk Rajska</a></li>
                                <li>ul. Rajska 1/5 G, 80-850</li>
                                <li><a href="tel:+48574690060">+48 574 690 060</a></li>
                            </ul>
                        </div>
                        <div class="description-row">
                            <ul>
                                <li><a href="/salony/nuga-best-gdynia">Gdynia</a></li>
                                <li>ul. Władysława IV 7, 81-355</li>
                                <li><a href="tel:+48533083154">+48 533 083 154</a></li>
                            </ul>
                        </div>
                        <div class="description-row">
                            <ul>
                                <li><a href="/salony/nuga-best-gliwice">Gliwice</a></li>
                                <li>ul. Dolnych Wałów 1/lok.12, 44-100</li>
                                <li><a href="tel:+48510320261">+48 510 320 261</a></li>
                            </ul>
                        </div>
                        <div class="description-row">
                            <ul>
                                <li><a href="/salony/nuga-best-jelenia-gora">Jelenia Góra</a></li>
                                <li>ul. M. Konopnickiej, 58-500</li>
                                <li><a href="tel:+48530545216">+48 530 545 216</a></li>
                            </ul>
                        </div>
                        <div class="description-row">
                            <ul>
                                <li><a href="/salony/nuga-best-katowice">Katowice</a></li>
                                <li>ul. J. Kochanowskiego, 40-035</li>
                                <li><a href="tel:+48533110503">+48 533 110 503</a></li>
                            </ul>
                        </div>
                        <div class="description-row">
                            <ul>
                                <li><a href="/salony/nuga-best-kielce">Kielce</a></li>
                                <li>ul. H. Sienkiewicza 51, 25-001</li>
                                <li><a href="tel:+48884764780">+48 884 764 780</a></li>
                            </ul>
                        </div>
                        <div class="description-row">
                            <ul>
                                <li><a href="/salony/nuga-best-krakow">Kraków</a></li>
                                <li>Osiedle Wysokie 22 A, 31-820</li>
                                <li><a href="tel:+48535189771">+48 535 189 771</a></li>
                            </ul>
                        </div>
                        <div class="description-row">
                            <ul>
                                <li><a href="/salony/nuga-best-lodz">Łódź</a></li>
                                <li>ul. Zachodnia 44, 91-063</li>
                                <li><a href="tel:+48534456933">+48 534 456 933</a></li>
                            </ul>
                        </div>
                        <div class="description-row">
                            <ul>
                                <li><a href="/salony/nuga-best-lubin">Lubin</a></li>
                                <li>ul. Sportowa 5, 59-300</li>
                                <li><a href="tel:+48504932288">+48 504 932 288</a></li>
                            </ul>
                        </div>
                        <div class="description-row">
                            <ul>
                                <li><a href="/salony/nuga-best-opole">Opole</a></li>
                                <li>ul.Ks.H.Kołłątaja 12/2, 46-020</li>
                                <li><a href="tel:+48508477024">+48 508 477 024</a></li>
                            </ul>
                        </div>
                        <div class="description-row">
                            <ul>
                                <li><a href="/salony/nuga-best-poznan-glogowska">Poznań Głogowska</a></li>
                                <li>ul. Głogowska 70, 60-740</li>
                                <li><a href="tel:+48790754954">+48 790 754 954</a></li>
                            </ul>
                        </div>
                        <div class="description-row">
                            <ul>
                                <li><a href="/salony/nuga-best-poznan-wierzbiecice">Poznań Wierzbięcice</a></li>
                                <li>ul. Wierzbięcice 36, 61-568</li>
                                <li><a href="tel:+48728446384">+48 728 446 384</a></li>
                            </ul>
                        </div>
                        <div class="description-row">
                            <ul>
                                <li><a href="/salony/nuga-best-szczecin">Szczecin</a></li>
                                <li>al. Wojska Polskiego 32/U1, 70-473</li>
                                <li><a href="tel:+48731203321">+48 731 203 321</a></li>
                            </ul>
                        </div>
                        <div class="description-row">
                            <ul>
                                <li><a href="/salony/nuga-best-swidnica">Świdnica</a></li>
                                <li>ul. Trybunalska 4, 58-100</li>
                                <li><a href="tel:+48732888577">+48 732 888 577</a></li>
                            </ul>
                        </div>
                        <div class="description-row">
                            <ul>
                                <li><a href="/salony/nuga-best-tarnow">Tarnów</a></li>
                                <li>ul. Urszulańska 5, 33-100</li>
                                <li><a href="tel:+48533371454">+48 533 371 454</a></li>
                            </ul>
                        </div>
                        <div class="description-row">
                            <ul>
                                <li><a href="/salony/nuga-best-walbrzych">Wałbrzych</a></li>
                                <li>ul. J. Kusocińskiego 5, 58-309</li>
                                <li><a href="tel:+48536297333">+48 536 297 333</a></li>
                            </ul>
                        </div>
                        <div class="description-row">
                            <ul>
                                <li><a href="/salony/nuga-best-warszawa-gotarda">Warszawa Praga Południe</a></li>
                                <li>ul. Garibaldiego 4, 04-078</li>
                                <li><a href="tel:+48736143296">+48 736 143 296</a></li>
                            </ul>
                        </div>
                        <div class="description-row">
                            <ul>
                                <li><a href="/salony/nuga-best-wroclaw">Warszawa Gotarda</a></li>
                                <li>ul. Gotarda 16/12, 02-683</li>
                                <li><a href="tel:+48516800345">+48 516 800 345</a></li>
                            </ul>
                        </div>
                        <div class="description-row">
                            <ul>
                                <li><a href="/salony/nuga-best-wroclaw">Wrocław</a></li>
                                <li>ul. J. Narodowej 102, 50-301</li>
                                <li><a href="tel:+48730527939">+48 730 527 939</a></li>
                            </ul>
                        </div>
                        <div class="description-row">
                            <ul>
                                <li><a href="/salony/nuga-best-zielona-gora">Zielona Góra</a></li>
                                <li>ul. Kupiecka 59/2, 65-058</li>
                                <li><a href="tel:+48733349587">+48 733 349 587</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="saloon-social">
                    <div class="picture">
                        <img src="{{ 'assets/vendor/img/image/Foto 8775 Z.jpg'|theme}}" alt="">
                    </div>
                    <!--<div class="social">
                        <div class="social-item"><img src="{{ 'assets/vendor/img/icon/facebook_icon.svg'|theme}}" alt=""><a href="https://www.facebook.com/nugabestpl">@nugabestpl</a></div>
                        <div class="social-item"><img src="{{ 'assets/vendor/img/icon/instagram_icon.svg'|theme}}" alt=""><a href="https://www.instagram.com/nugapl/">@nugapl</a></div>
                        <div class="social-item"><img src="{{ 'assets/vendor/img/icon/pinterest-logo-icon.png'|theme}}" alt=""><a href="https://www.pinterest.com/nugabestpl/">@nugabestpl</a></div>
                        <div class="social-item"><img src="{{ 'assets/vendor/img/icon/app_icon.svg'|theme}}" alt=""><a href="https://www.youtube.com/channel/UCrj55eQT9itE-k0ROmymY7A">NUGA PL</a></div>
                        <div class="social-item"><img src="{{ 'assets/vendor/img/icon/tik-tok-icon.png'|theme}}" alt=""><a href="https://www.tiktok.com/@nugabestpl">@nugabestpl</a></div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<footer id="footer" class="footer site-footer bg-secondary">
    <div class="wrapper">
        <div class="d-flex flex-column flex-md-row flex-lg-row flex-xl-row align-items-center justify-content-between">
            <div class="footer-inform">
                <div class="logo logo-primary">
                    <img src="{{ 'assets/vendor/img/logo/logo-footer1.png'|theme}}" alt="Logo">
                </div>
                <div class="slogan">Zmienia jakość życia</div>
                <div class="slogan"><a href="/salony" class="btn btn-primary">ZNAJDŹ SALON</a></div>
            </div>
            
            <div class="footer-inform">
                <nav class="footer-menu menu-primary">
                    {% if staticMenu.menuItems %}
                        <ul class="nav">
                            {% partial staticMenu ~ "::items" items=staticMenu.menuItems %}
                        </ul>
                    {% endif %}
                </nav>
            </div>
            <div class="footer-inform">
                <div class="social">
                    <div class="social-item"><a>DOŁĄCZ DO NAS</a></div>
                    <div class="social-item"><img src="{{ 'assets/vendor/img/icon/facebook_icon.svg'|theme}}" alt=""><a href="https://www.facebook.com/nugabestpl" target="_blank">@nugabestpl</a></div>
                    <div class="social-item"><img src="{{ 'assets/vendor/img/icon/instagram_icon.svg'|theme}}" alt=""><a href="https://www.instagram.com/nugapl/" target="_blank">@nugapl</a></div>
                    <div class="social-item"><img src="{{ 'assets/vendor/img/icon/pinterest-logo-icon.png'|theme}}" alt=""><a href="https://www.pinterest.com/nugabestpl/" target="_blank">@nugabestpl</a></div>
                    <div class="social-item"><img src="{{ 'assets/vendor/img/icon/app_icon.svg'|theme}}" alt=""><a href="https://www.youtube.com/channel/UCrj55eQT9itE-k0ROmymY7A" target="_blank">NUGA PL</a></div>
                    <div class="social-item"><img src="{{ 'assets/vendor/img/icon/tik-tok-icon.png'|theme}}" alt=""><a href="https://www.tiktok.com/@nugabestpl" target="_blank">@nugabestpl</a></div>
                    <div class="social-item"><img src="{{ 'assets/vendor/img/icon/gmail-icon.png'|theme}}" alt=""><a href="mailto:nugabestplofficial@gmail.com" target="_blank">nugabestplofficial@gmail.com</a></div>
                </div>
            </div>
        </div>
    </div><hr>
    <div class="wrapper">
        <div class="footer">
            <div class="copyright">
                <p>Nuga Wrocław Alina Kamchatna Sp. k.</p>
                <p>© Developed by <a href="https://ipapus.pl/" target="_blank">iPapus agency</a></p>
            </div>
        </div>
    </div>
</footer><!-- .site-footer -->