<section id="partners" class="block spacer p-top-xl">
    <div class="wrapper">
        <div class="title">
            <h2>100% komfortu użytkowania łóżka N6</h2>
        </div>

        <div class="partners">
            <div class="partners-items">
                <div class="partners-item">
                    <div class="partners-item-content">
                        <img src="{{ 'assets/vendor/img/image/pat-img-01.png'|theme }}" alt="">
                    </div>
                </div>

                <div class="partners-item">
                    <div class="partners-item-content">
                        <img src="{{ 'assets/vendor/img/image/pat-img-02.png'|theme }}" alt="">
                    </div>
                </div>

                <div class="partners-item">
                    <div class="partners-item-content">
                        <img src="{{ 'assets/vendor/img/image/pat-img-03.png'|theme }}" alt="">
                    </div>
                </div>

                <div class="partners-item">
                    <div class="partners-item-content">
                        <img src="{{ 'assets/vendor/img/image/pat-img-04.png'|theme }}" alt="">
                    </div>
                </div>

                <div class="partners-item">
                    <div class="partners-item-content">
                        <img src="{{ 'assets/vendor/img/image/pat-img-05.png'|theme }}" alt="">
                    </div>
                </div>

                <div class="partners-item">
                    <div class="partners-item-content">
                        <img src="{{ 'assets/vendor/img/image/pat-img-06.png'|theme }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- #partners -->