[viewBag]
==
<section id="services" class="block spacer p-top-xl">
    <div class="bg-secondary text-tertiary spacer p-top-xl p-bottom-xl">
        <div class="wrapper">
            <div class="row gutter-width-md with-pb-lg">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                    <div class="title">
                        <h2>Co mówią lekarze i naukowcy
                            o urządzeniach Nuga Best?</h2>
                    </div>

                    <div class="description">
                        <p>Co mówią lekarze i naukowcy
                            o urządzeniach Nuga Best?</p>
                    </div>
                </div>

                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
                    <div class="adv-slider-services">
                        <div class="adv-swiper-container">
                            <div class="adv-swiper-wrapper services-items">
                                <div class="adv-swiper-slide services-item">
                                    <div class="services-item-content">
                                        <div class="services-item-number">01.</div>

                                        <div class="services-item-t-head">
                                            <a href="/fraunhofer-ikts">
                                                <h5>Fraunhofer IKTS</h5>
                                            </a>
                                        </div>

                                        <div class="services-item-body">
                                            <p><strong>Cel badania</strong></p>
                                            <p>Badanie tourmaniumu z nanodiamentami,
                                                związek między tourmanium a krążeniem krwi,
                                                wpływ tourmaniuma na aktywność metaboliczną komórki,
                                                zintegrowana ocena masażu automatycznego w
                                                połonczeniu z termoterapią.</p>
                                        </div>

                                        <div class="service-item-footer">
                                            <a class="btn btn-link p-0 border-0 min-w-auto" href="/fraunhofer-ikts">
                                                <i class="forch-icon-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="adv-swiper-slide services-item">
                                    <div class="services-item-content">
                                        <div class="services-item-number">02.</div>

                                        <div class="services-item-t-head">
                                            <a href="/chrzescijanski-szpital-wonju-sevrans-korea-poludniowa">
                                                <h5>Chrześcijański szpital Wonju Sevrans, Korea Południowa</h5>
                                            </a>
                                        </div>

                                        <div class="services-item-body">
                                            <p><strong>Cel badania</strong></p>
                                            <p>Ocena efektów stymulacji termicznej, masażu i niskej częstotliwości leczenie za pomocą łużka masującego Nuga Best, ocena skuteczności leczenia.</p>
                                        </div>

                                        <div class="service-item-footer">
                                            <a class="btn btn-link p-0 border-0 min-w-auto" href="/chrzescijanski-szpital-wonju-sevrans-korea-poludniowa">
                                                <i class="forch-icon-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="adv-swiper-slide services-item">
                                    <div class="services-item-content">
                                        <div class="services-item-number">03.</div>

                                        <div class="services-item-t-head">
                                            <a href="/centrum-medyczne-rehabilitacji-i-leczenia-sanatoryjnego-im-puszcza-wodycy-ukraina">
                                                <h5>Centrum Medyczne Rehabilitacji i Leczenia Sanatoryjnego im. Puszcza-Wodycy, Ukraina</h5>
                                            </a>
                                        </div>

                                        <div class="services-item-body">
                                            <p><strong>Cel badania</strong></p>
                                            <p>Dokładne wyjaśnienie przeciwskazań i opracowanie zaleceń do leczniczego
                                                wykorzystania termo terapeutycznego masażera-stymulatora osobistego
                                                łóżka masującego z akcesoriami</p>
                                        </div>

                                        <div class="service-item-footer">
                                            <a class="btn btn-link p-0 border-0 min-w-auto" href="/centrum-medyczne-rehabilitacji-i-leczenia-sanatoryjnego-im-puszcza-wodycy-ukraina">
                                                <i class="forch-icon-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- #services -->