description = "SALONY"

[staticPage]
useContent = 1
default = 0

[SeoStaticPage]
==
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    {% component 'SeoStaticPage' %}
    <!-- Useful meta tags -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow, noodp">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/img/favicon/favicon-16x16.ico" sizes="16x16">

    <link rel="stylesheet" href="{{ 'assets/vendor/css/style.css'|theme}}">
    <link rel="stylesheet" href="{{ 'assets/vendor/css/custom.css'|theme}}">
</head>
<body class="home bg-fixed bg-stripes">
{% partial 'loader' %}

{% partial 'header' %}

<main id="main" class="site-main">

    <div id="page-title">
        <div class="wrapper">
            <div class="title">
                <h1 class="large">{{ this.page.title }}</h1>
            </div>
        </div>
    </div><!-- #page-title -->

    <div id="page-content" class="spacer p-top-xl">
        <div class="content">
            <div id="projects" class="block">
                <div class="projects-items clearfix type-1 masonry-float">
                
                  <a class="projects-item" href="salony/nuga-best-opole">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">NUGA BEST Opole1111</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/salony/Opole.jpg'|theme }}" alt="NUGA BEST Opole">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>
                    <a class="projects-item" href="salony/nuga-best-walbrzych">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">NUGA BEST Wałbrzych</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/salony/walbruh2.jpg'|theme }}" alt="NUGA BEST Wałbrzych">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>
                    <a class="projects-item" href="/salony/nuga-best-gdynia">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">NUGA BEST Gdynia</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/salony/Rajska.jpg'|theme }}" alt="Pas o niskiej częstotliwości Projektor pięciokulowy">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>
                    <a class="projects-item" href="salony/nuga-best-krakow">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">NUGA BEST Kraków</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/salony/Krakow2.jpg'|theme }}" alt="NUGA BEST Kraków">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>
                    <a class="projects-item" href="salony/nuga-best-bielsko-biala">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">NUGA BEST Bielsko-Biała</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/salony/bielskoBiala.jpg'|theme }}" alt="Bielsko Biala">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>

                    <a class="projects-item" href="salony/nuga-best-bydgoszcz">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">NUGA BEST Bydgoszcz</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/salony/Bydgoszc3.jpg'|theme }}" alt="Bydgoszcz">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>

                    <a class="projects-item" href="salony/nuga-best-gdansk-grunwaldzka">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">NUGA BEST Gdańsk Grunwaldzka</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/salony/Grunwaldzka2.jpg'|theme }}" alt="Grunwaldzka">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>

                    

                    <a class="projects-item" href="salony/nuga-best-gdansk-rajska">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">NUGA BEST Gdańsk Rajska</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/salony/Rajska.jpg'|theme }}" alt="UGA BEST Gdańsk Rajska">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>

                    <a class="projects-item" href="salony/nuga-best-gliwice">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">NUGA BEST Gliwice</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/salony/Gliwice2.jpg'|theme }}" alt="Design w kształcie teczki">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>

                    <a class="projects-item" href="salony/nuga-best-jelenia-gora">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">NUGA BEST Jelenia Góra</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/salony/Jelenia Gra.jpg'|theme }}" alt="Jelenia Gora">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>

                    <a class="projects-item" href="salony/nuga-best-katowice">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">NUGA BEST Katowice</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/salony/Katowice.jpg'|theme }}" alt="NUGA BEST Katowice">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>

                    <a class="projects-item" href="salony/nuga-best-kielce">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">NUGA BEST Kielce</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/salony/Kielce.jpg'|theme }}" alt="NUGA BEST Kielce">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>

                    

                    <a class="projects-item" href="salony/nuga-best-lodz">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">NUGA BEST Łódź</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/salony/lodz.jpg'|theme }}" alt="NUGA BEST Łódź">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>

                    <a class="projects-item" href="salony/nuga-best-lubin">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">NUGA BEST Lubin</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/salony/Lubin.jpg'|theme }}" alt="NUGA BEST Lubin">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>

                   

                    <a class="projects-item" href="salony/nuga-best-poznan-glogowska">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">NUGA BEST Poznań Głogowska</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/salony/poznan glowska.jpg'|theme }}" alt="NUGA BEST Poznań Głogowska">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>

                    <a class="projects-item" href="salony/nuga-best-warszawa-gotarda">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">NUGA BEST Warszawa Gotarda</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/salony/gotarda.jpg'|theme }}" alt="Pas o niskiej częstotliwości Projektor pięciokulowy">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>

                    <a class="projects-item" href="salony/nuga-best-poznan-wierzbiecice">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">NUGA BEST Poznań Wierzbięcice</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/salony/poznan wierbice.jpg'|theme }}" alt="NUGA BEST Poznań Wierzbięcice">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>

                    <a class="projects-item" href="salony/nuga-best-szczecin">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">NUGA BEST Szczecin</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/salony/Szczecin.jpg'|theme }}" alt="NUGA BEST Szczecin">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>

                    <a class="projects-item" href="salony/nuga-best-swidnica">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">NUGA BEST Świdnica</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/salony/Swidnica.jpg'|theme }}" alt="NUGA BEST Świdnica">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>

                    <a class="projects-item" href="salony/nuga-best-tarnow">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">NUGA BEST Tarnów</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/salony/tarnov.jpg'|theme }}" alt="NUGA BEST Tarnów">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>

                    <a class="projects-item" href="salony/nuga-best-warszawa-praga-poludnie">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">NUGA BEST Warszawa Praga Południe</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/salony/warsawa.jpg'|theme }}" alt="NUGA BEST Warszawa Praga Południe">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>

                    

                    <a class="projects-item" href="salony/nuga-best-wroclaw">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">NUGA BEST Wrocław</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/salony/wroclaw.jpg'|theme }}" alt="NUGA BEST Wrocław">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>

                    <a class="projects-item" href="salony/nuga-best-zielona-gora">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">NUGA BEST Zielona Góra</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/salony/zelena1.jpg'|theme }}" alt="NUGA BEST Zielona Góra">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>
                </div>
            </div><!-- #projects -->

        </div>
    </div><!-- #page-content -->

</main><!-- .site-main -->

{% partial 'footer' %}

{% partial 'modals' %}
<!-- JS -->
<script src="{{ 'assets/vendor/js/main.min.js'|theme}}"></script>
</body>
</html>