description = "KATALOG"

[staticPage]
useContent = 1
default = 0

[SeoStaticPage]
==
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    {% component 'SeoStaticPage' %}
    <!-- Useful meta tags -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow, noodp">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/img/favicon/favicon-16x16.ico" sizes="16x16">


    <link rel="stylesheet" href="{{ 'assets/vendor/css/style.css'|theme}}">
    <link rel="stylesheet" href="{{ 'assets/vendor/css/custom.css'|theme}}">
</head>
<body class="home bg-fixed bg-stripes">
{% partial 'loader' %}

{% partial 'header' %}

<main id="main" class="site-main">

    <div id="page-title">
        <div class="wrapper">
            <div class="title">
                <h1 class="large">{{ this.page.title }}</h1>
            </div>
        </div>
    </div><!-- #page-title -->

    <div id="page-content" class="spacer p-top-xl">
        <div class="content">
            <div id="projects" class="block">
                <div class="projects-items clearfix type-1">
                
                    <a class="projects-item" href="/katalog/stymulator-kombinowany-n6">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">Stymulator kombinowany N6<br>Urządzenie z zastosowaniem ceramiki Turmanium i NDT</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/katalog/9037.jpg'|theme }}" alt="Pilot">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>
                    
                    <a class="projects-item" href="/katalog/N4">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">Masażer stymulujący N4 z dodatkami<br>Urządzenie z zastosowaniem ceramiki Turmanium</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/katalog/0068.jpg'|theme }}" alt="Design w kształcie teczki">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>
                    
                    <a class="projects-item" href="katalog/mata-z-ceramika-turmanium-i-ndt-t20">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">Mata z ceramiką Turmanium i NDT T20</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/katalog/1013.jpg'|theme }}" alt="Design w kształcie teczki">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>
                    
                    <a class="projects-item" href="/katalog/mata-z-ceramika-turmanium-i-ndt-t11">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">Mata z ceramiką Turmanium i NDT T11</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/katalog/0114.jpg'|theme }}" alt="Pilot">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>
                    
                     <a class="projects-item" href="katalog/masazer-do-stop-e-5">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">Masażer do stóp E5</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/6076.JPG'|theme }}" alt="Pilot">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>
                    
                    <a class="projects-item" href="/katalog/mhp-100-urzadzenie-do-uzytku-domowego">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">MHP - 100 Urządzenie do użytku domowego</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/katalog/0342.jpg'|theme }}" alt="Ergonomiczna konstrukcja N6">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>
                    
                    <a class="projects-item" href="/katalog/NM80">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">Mata z ceramiką Turmanium NM - 80</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/katalog/7756-1200.jpg'|theme }}" alt="Pas o niskiej częstotliwości Projektor pięciokulowy">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>
                    
                     <a class="projects-item" href="/katalog/NM90">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">NM - 90 Pas z ceramiką Turmanium i NDT</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/katalog/0801-1280.jpg'|theme }}" alt="Design w kształcie teczki">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>
                    
                    <a class="projects-item" href="/katalog/masazer-nm-200">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">Masażer NM - 200</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/katalog/8332.jpg'|theme }}" alt="Ergonomiczna konstrukcja N6">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>
                    
                    <a class="projects-item" href="katalog/pas-miostymulacyjny-e3">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">Pas miostymulacyjny E3</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/katalog/9599.JPG'|theme }}" alt="Pas miostymulacyjny E3">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>

                    

                   

                    <a class="projects-item" href="/katalog/t9-pas-z-ceramika-turmanium-i-ndt">
                        <div class="projects-item-content">
                            <div class="projects-item-content-sec">
                                <div class="projects-item-description">
                                    <h3 class="projects-item-title">T9 Pas z ceramiką Turmanium i NDT</h3>
                                </div>
                            </div>
                        </div>

                        <div class="img object-fit">
                            <div class="object-fit-cover">
                                <img src="{{ 'assets/vendor/img/image/katalog/0825-1280.jpg'|theme }}" alt="Pas o niskiej częstotliwości Projektor pięciokulowy">
                            </div>
                        </div>

                        <div class="img-bg-color"></div>
                    </a>
                </div>
            </div><!-- #projects -->

        </div>
    </div><!-- #page-content -->

</main><!-- .site-main -->

{% partial 'footer' %}

{% partial 'modals' %}
<!-- JS -->
<script src="{{ 'assets/vendor/js/main.min.js'|theme}}"></script>
</body>
</html>